/* ========================================
   LatestReviewsList.jsx
   ======================================== */

.retro-shadow {
    border: 1px solid #212529;
    box-shadow: 5px 5px 1px 1px #212529;
    /*transition: box-shadow 0.2s ease-in-out; !* 부드러운 전환 효과를 위해 추가 *!*/
}

.retro-shadow:hover {
    border: 1px solid transparent;
    background-color: #f6ece6;
    box-shadow: 5px 5px 1px 1px #D9534F; /* 👈 호버 시 그림자 색상 변경 */
}