/* ========================================
   MyReview.css
   ======================================== */
.review-card-custom {
    background-color: #fffafa;
    box-shadow: 5px 5px 1px 1px #212529;
    border: 3px solid black;
    border-radius: 0;
}

.review-card-custom:hover {
    border: 3px solid #D9534F;
    box-shadow: 5px 5px 1px 1px #D9534F !important;
    background-color: #fffafc;
}

.hr-color-hotpink {
    border-top: 1px solid #D9534F;
}

/* 리뷰 구분선 스타일 */
.review-separator {
    border-top-width: 5px; /* 더 두꺼운 선 */
    /*margin-top: 3rem; !* 필요에 따라 간격 조절 *!*/
    /*margin-bottom: 2rem; !* 필요에 따라 간격 조절 *!*/
}

.facility-link {
    transition: color 0.2s ease, transform 0.2s ease;
}

.facility-link:hover {
    color: #d2691e; /* 살짝 강조 */
}

.facility-link svg {
    transition: transform 0.2s ease;
}

.facility-link:hover svg {
    transform: translateX(3px); /* 오른쪽으로 살짝 이동 */
}
